* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  background: #000;
}

h1 {
  margin: 0;
  padding: 1em;
  font-size: 1rem;
}

@media (min-width: 768px) {
  h1 {
    margin: 0;
    padding: 1em;
    font-size: 2rem;
  }
}

main {
  display: flex;
  align-items: center;
  flex: 1;
  flex-flow: column nowrap;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.questions {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 48rem;
  margin: 0;
  border-radius: 0.5em;

  justify-contents: space-between;
}

.flipdown {
  margin: 2em 0 3em 0;
}

.questions h1 {
  margin: 0.5em 0;
  color: #583B93;
}

.questions-block {
  width: 100%;
  margin: 0 auto;
}

.center {
  text-align: center;
}

.url {
  color: #EC3F94;
}

#list-questions > li {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

.selected {
  background-color: rgba(249, 255, 0, 0.34);
}

.selected:after {
  content: ' ✅';
}

.struckthrough {
  text-decoration: line-through;
  color: grey;
}

form {
  display: inline-block;
  width: 100%;
  padding: 1rem;
  color: white;
  border-radius: 3px;
  background: linear-gradient(90deg, rgba(41,45,48,1) 0%, rgba(34,37,41,1) 100%);
  background-color: #25292d;
}

p {
  margin: 0;
}

input {
  display: block;
  width: 100%;
  margin: .5rem 0;
  padding: .5rem 1rem;
  border: none;
  border-radius: .25rem;
  font-size: 1.5rem;
  line-height: 1.5em;
}

button {
  float: right;
  padding: .5rem 1rem;
  cursor: pointer;
  color: white;
  border:none;
  border-radius: .25rem;
  background-color: #394146;
  font-size: 1rem;
}

button:hover {
  color: #394146;
  background-color: #FFF;
}

button:active {
  box-shadow: none;
}

.info {
  padding-top: .5rem;
}

footer {
  padding: 1.5rem 0;
  text-align: center;
  font-size: smaller;
}
